{% extends '::base.html.twig' %}

{% block body %}

<div class="container">
      <div class="jumbotron">
        <h1>Czym i za ile ogrzewać dom?</h1>
        <h2>Nie musisz już mieć specjalistycznej wiedzy,<br>by policzyć to profesjonalnymi metodami.</h2>
        <a class="btn btn-raised btn-warning btn-large" href="{{ path('start') }}">Sprawdź swój dom!</a>
        <span class="copy"><a href="http://www.flickr.com/photos/47405720@N07/4564053866/" target="_blank">fot. Irina Alice, flickr.com</a></span>
      </div>
    <div class="well bs-component">
      <div id="meanwhile" style="font-size: 16px">
        <div class="page-header">
          <h2>Nie powiemy ci jak żyć, ale dowiesz się, jak najlepiej ogrzać dom</h2>
        </div>
        <p>Oto pierwsze <strong>działające i przyjazne ludziom</strong> narzędzie do szacowania potrzeb grzewczych budynku. Nie jest tak dokładne jak pełny audyt energetyczny (OZC) wykonany przez fachowca, ale o niebo dokładniejsze niż przybliżenia i wróżby z rękawa.
        A przy tym w pełni darmowe.
        W kilka minut, odpowiadając na proste pytania, dowiesz się najważniejszych rzeczy:</p>
        <ul>
          <li><strong>jaki rodzaj ogrzewania wybrać</strong> &mdash; dostaniesz porównanie kosztów instalacji i bieżących rachunków dla różnych źródeł ciepła</li>
          <li><strong>jakiej mocy kotła potrzebujesz do ogrzania domu</strong> &mdash; unikniesz gehenny związanej z zakupem dwa-trzy razy za dużego kotła, co niestety jest powszechne, gdy słucha się wielu <em>doświadczonych</em> instalatorów i sprzedawców, którzy nie kalają się znajomością aktualnych norm, lecz opychają ludziom kotły według standardów sprzed 30 lat</li>
          <li><strong>jak najtaniej obniżyć koszty ogrzewania</strong> &mdash; dowiesz się, gdzie najpierw poprawić docieplenie budynku, aby najwięcej zyskać</li>
        </ul>
        <div style="text-align:center">
          <a class="btn btn-raised btn-warning btn-large" href="{{ path('start') }}">Sprawdź swój dom!</a>
        </div>
      </div>
  </div>
</div>

{% endblock %}
