{% extends '::base.html.twig' %}

{% block body %}

<div class="container">
    <div class="well bs-component">
        <div id="meanwhile" style="font-size: 16px">
            <h1>Co to jest?</h1>
            <p>Trafiłeś na pierwsze przyjazne zwykłym ludziom narzędzie pomagające w ocenie zapotrzebowania budynku na ciepło.<br/>
            Dowiesz się tutaj:</p>
            <ul>
                <li>jakiej mocy cieplnej potrzeba do ogrzania twojego domu</li>
                <li>jakie będą koszty ogrzewania budynku różnymi sposobami &mdash; od węgla i drewna po pompę ciepła</li>
                <li>jakie zmiany (ocieplenie stropu, zmiana paliwa a może wymiana kotła) pozwolą najbardziej opłacalnie obniżyć koszty ogrzewania.</li>
            </ul>
            <p>Narzędzie to ma być pomocą w najwpoważniejszym problemie, na jaki napotyka osoba kupująca dowolny kocioł na węgiel czy drewno: <strong>jaką moc wybrać?</strong> Coś w tym jest dziwnego, że często producenci, sprzedawcy i instalatorzy <em>z 30-letnim doświadczeniem</em> dobierają do nowych domów takie same kotły jak 30 lat temu.
            Problem w tym, że teraz są one 2-3 razy za duże i przez to przejadają dużo więcej opału niż powinny. <a href="http://czysteogrzewanie.pl/kociol/co-za-duzo-to-niezdrowo-dobor-mocy-kotla-weglowego/" target="_blank">Tu poczytasz więcej o problemie</a>.
            Wtedy dowiesz się, że większość nowych budynków ogrzejesz kotłem ~10kW zużywając w ciągu zimy niecałe 2 tony węgla.</p>
            <h2>Kto za tym stoi?</h2>
            <p>Ani producent kotłów, ani sprzedawca opału, ani nawet znany profesor od ciepłownictwa, ale prosty programista. Strona jest częścią serwisu <a href="http://czysteogrzewanie.pl" target="_blank">CzysteOgrzewanie.pl</a>. Jeśli szukasz kontaktu z autorem, chcesz o coś zapytać, podziękować albo nawrzucać, to <a href="http://czysteogrzewanie.pl/o-tej-stronie/">znajdziesz tutaj</a>.
            </p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>

{% endblock %}
