{% extends 'MopaBootstrapBundle::base_less.html.twig' %}

{% block title %}Ranking kotłów węglowych{% endblock %}

{% block navbar %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: false, inverse: true, id: 'navbar-example' } %}
        {% block brand %}
            <a class="navbar-brand" href="{{ path('ranking_homepage') }}">Ranking kotłów węglowych</a>
        {% endblock %}

        {% block menu %}
            {{ mopa_bootstrap_menu('KrakenRankingBundle:Builder:createMainMenu') }}
        {% endblock %}
    {% endembed %}
{% endblock navbar %}

{% block footer %}
<div class="container">
  <p>Ranking kotłów jest częścią serwisu <a href="http://czysteogrzewanie.pl" target="_blank">Czyste Ogrzewanie</a>, który promuje tanie, świadome i ekologiczne ogrzewanie pozornie staroświeckimi paliwami.</p>
</div>
{% endblock footer %}

{% block head_style %}
    {% stylesheets
        '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
        '@KrakenRankingBundle/Resources/public/css/*.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block head_script %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock head_script %}

{% block foot_script_assetic %}
    {% javascripts
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/tooltip.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/*.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}
