{% extends '::base_ranking.html.twig' %}

{% block page_title %}O rankingu{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <h2>Co to jest?</h2>
        <p></p>
        <h2>Jak oceniane są kotły w rankingu?</h2>
        <p>Niestety niemożliwym jest, by wszystkie kotły przetestować na żywo. Można natomiast przeanalizować informacje o ich konstrukcji i wyposażeniu, i na tej podstawie odsiać ewidentne buble.
        Choć kotły zasypowe zdają się różnić co najwyżej kolorem pudła, faktycznie różni je znacznie więcej. Są takie rodzaje i modele, w których spalanie bez dymu i wypuszczania w komin niedopału jest utrudnione lub niemożliwe.</p>
    </div>
</div>
{% endblock body %}
