{% extends 'KrakenRankingBundle::base.html.twig' %}

{% block headline %}O rankingu{% endblock headline %}

{% block content_row %}
<div class="row">
<p>Lorem ipsum dolor sit amet</p>
</div>
{% endblock content_row %}
