{% extends 'KrakenRankingBundle::base.html.twig' %}

{% block headline %}O rankingu{% endblock headline %}

{% block content_row %}
<div class="row">
    <div class="col-sm-12">
        <h2>Co to za ranking i po co to komu?</h2>
        <p>Ranking gromadzi najlepsze kotły na węgiel i drewno do zastosowań domowych.
         Powstał, aby ułatwić zwykłemu człowiekowi wybór kotła, w którym <strong>bez problemu da się palić bez dymu</strong>, najlepiej dopasowanego do jego potrzeb i możliwości.</p>
        <h2>Jak oceniane są kotły w rankingu?</h2>
        <p>Niestety niemożliwym jest, by wszystkie kotły przetestować na żywo. Można natomiast przeanalizować informacje o ich konstrukcji i wyposażeniu, i na tej podstawie odsiać ewidentne buble.
        Choć kotły zasypowe zdają się różnić co najwyżej kolorem pudła, faktycznie różni je znacznie więcej. Są takie rodzaje i modele, w których spalanie bez dymu i wypuszczania w komin niedopału jest utrudnione lub niemożliwe.</p>
    </div>
</div>
{% endblock content_row %}
