<div class="row">
    <div class="col-lg-6">
        <form class="form-horizontal">
          {{ form_row(form.modelName) }}
          {{ form_rest(form) }}
        </form>
    </div>
    <div class="col-lg-6">
    </div>
</div>
