<div class="row">
    <form class="form-horizontal" method="POST" action="{{ url('ranking_search')}}">
      <fieldset>
          <legend>Szukam konkretnej sztuki</legend>
          {{ form_row(form.modelName) }}
          <button type="submit" class="btn btn-primary">Szukaj</button>
      </fieldset>
      <fieldset>
          <legend>Szukam według parametrów</legend>
          {{ form_rest(form) }}
          <button type="submit" class="btn btn-primary">Szukaj</button>
      </fieldset>
    </form>
</div>
