{% extends 'KrakenRankingBundle::base.html.twig' %}

{% block page_header %}{% endblock page_header %}


{% block content_row %}
<div class="row">
    <div class="col-sm-4">
        <h2>Znajdź kocioł w rankingu</h2>
        {% include 'KrakenRankingBundle:Ranking:filter.html.twig' with {'form': searchForm} %}
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <h2>Dodaj kocioł do rankingu</h2>
        <p>Nie znajdujesz w rankingu kotła, który cię interesuje? </p>
        <button type="button" class="btn btn-default btn-lg">Prześlij propozycję</button>
    </div>
</div>
{% endblock content_row %}
