{% extends 'KrakenRankingBundle::base.html.twig' %}

{% block page_header %}{% endblock page_header %}

{% block content_row %}
<div class="row">
    <div class="col-sm-8">
        <div style="height:300px" class="jumbo">
            <h1>Wybór najbardziej obiecujących kotłów</h1>
            <h3>Jak najmniej syfu, jak najwięcej ciepła.</h3>
            <p>W rankingu zebrane są kotły najlepsze pod kątem konstrukcji i wyposażenia.</p>
            <a class="btn btn-info btn-large" href="{{ path('ranking_about') }}">Więcej o rankingu</a>
        </div>
        <div class="row">
            <form class="form-horizontal" method="POST" action="{{ url('ranking_search')}}">
            <div class="col-sm-6">
                  <fieldset>
                      <legend>Szukam konkretnej sztuki</legend>
                      {{ form_row(searchForm.modelName) }}
                      <button type="submit" class="btn btn-primary">Szukaj</button>
                  </fieldset>
            </div>
            <div class="col-sm-6">
                  <fieldset>
                      <legend>Szukam według parametrów</legend>
                      {{ form_rest(searchForm) }}
                      <button type="submit" class="btn btn-primary">Szukaj</button>
                  </fieldset>
            </div>
            </form>
        </div>
    </div>
    <div class="col-sm-4">
        <h2>Prześlij kocioł do oceny</h2>
        <p>Nie ma tu kotła, który cię interesuje? Podrzuć namiary na niego.</p>
        <button type="button" class="btn btn-default btn-lg">Prześlij propozycję do rankingu</button>
    </div>
</div>
{% endblock content_row %}
