{% extends 'KrakenRankingBundle::base.html.twig' %}

{% block headline %}Prześlij propozycję do rankingu{% endblock headline %}

{% block content_row %}
<div class="row">
    <div class="col-sm-12">
        <p>C'mon</p>
    </div>
</div>
{% endblock content_row %}
