{% extends '::base_ranking.html.twig' %}

{% form_theme form 'KrakenRankingBundle:Form:form_div_layout.html.twig' %}

{% block page_title %}Prześlij propozycję do rankingu{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-6">
        <p>Tutaj możesz podrzucić namiary na kocioł, który cię interesuje.</p>
        <p>&nbsp;</p>
        <form method="POST" action="{{ url('ranking_proposal')}}">
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-raised btn-primary">Wyślij</button>
        </form>
    </div>
    <div class="col-sm-6">
        <h2>Jakie kotły dostaną się do rankingu?</h2>
        <p>Przede wszystkim <strong>takie, które istnieją w internecie</strong>.
        Już dłuższą chwilę mamy XXI wiek. Jeśli producent nie ma strony internetowej lub nie jest w stanie
        umieścić na niej podstawowych danych technicznych swoich wyrobów, to widocznie
        nie chce, żeby się one sprzedawały. Dziwna to postawa ze strony prywatnej firmy
        na wolnym rynku, ale wolę tę uszanujemy.
        </p>
        <h2>Kiedy propozycja zostanie rozpatrzona?</h2>
        <p>"Bez zbędnej zwłoki" czyli przeważnie w parę dni. Jeśli chcesz wiedzieć kiedy to nastąpi lub otrzymać odpowiedź na zadane w opisie propozycji pytania, podaj swój adres e-mail.
        Zostanie on użyty tylko do kontaktu z tobą wyłącznie w tej sprawie.</p>
    </div>
</div>
{% endblock body %}
