{% extends '::base_ranking.html.twig' %}

{% block title %}Dodaj opinię o swoim kotle - ranking kotłów węglowych{% endblock title %}

{% block page_title %}Dodaj opinię o swoim kotle{% endblock page_title %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <p>C'mon</p>
    </div>
</div>
{% endblock body %}
