{% extends 'KrakenRankingBundle::base.html.twig' %}

{% form_theme form 'KrakenWarmBundle:Form:form_div_layout.html.twig' %}

{% block headline %}Wyszukiwanie{% endblock headline %}

{% block content_row %}
<div class="row">
    <div class="col-sm-4">
        <form method="POST" action="{{ url('ranking_search')}}">
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary">Szukaj</button>
        </form>
    </div>
    <div class="col-sm-8">
        {% include('KrakenRankingBundle:Ranking:boilerList.html.twig') with {boilers: boilers, search: search} %}
    </div>
</div>
{% endblock content_row %}
