{% extends '::base_ranking.html.twig' %}

{% form_theme form 'KrakenRankingBundle:Form:form_div_layout.html.twig' %}

{% block page_title %}Wyszukiwanie{% endblock page_title %}

{% block body %}
<div class="row">
    <div class="col-sm-4">
        <form method="POST" action="{{ url('ranking_search')}}">
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-raised btn-primary">Szukaj</button>
        </form>
        <h4>Przydatne przed zakupem</h4>
        <ul>
            <li><a href="http://czysteogrzewanie.pl/2014/05/nie-pakuj-smieciucha-do-nowego-domu/" target="_blank">Przemyśl to dwa razy zanim wpakujesz "śmieciucha" do nowego domu</a></li>
            <li><a href="http://czysteogrzewanie.pl/kociol/rodzaje-kotlow-weglowych/" target="_blank">Rodzaje kotłów</a></li>
            <li><a href="http://czysteogrzewanie.pl/kociol/ranking-kotlow-weglowych/norma-pn-en-303-5-2012/" target="_blank">Klasy emisji</a></li>
            <li><a href="http://czysteogrzewanie.pl/zakupy/jak-czytac-reklamy-kotlow/" target="_blank">Jak czytać reklamy kotłów</a></li>
            <li><a href="http://cieplowlasciwie.pl" target="_blank">Podsumowanie grzewcze domu: potrzebna moc, koszty różnych sposobów ogrzewania</a></li>
            <li><a href="http://czysteogrzewanie.pl/zakupy/mocy-przybywaj-dobor-mocy-kotla-weglowego/" target="_blank">Dlaczego z doborem mocy kotła węglowego jest tyle problemów</a></li>
        </ul>
    </div>
    <div class="col-sm-8">
        {% include('KrakenRankingBundle:Ranking:boilerList.html.twig') with {boilers: boilers, search: search} %}
    </div>
</div>
{% endblock body %}
