{% extends '::base.html.twig' %}

{% block body %}

<div class="container">
    <div class="well bs-component">
        <h1>Moje wyniki</h1>

        {% if results %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Opis</th>
                    <th>Data dodania</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td><a href="{{ path('result', {'slug': result.slug}) }}">A.D. {{ result.constructionPeriod }}, {{ result.city.name }}</a></td>
                    <th>{{ result.created|date('d.m.Y') }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info">
            Niestety, nic tu nie ma...
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}
